@model List<DishViewModel>

<h1>Ecco la lista dei Piatti</h1>

@if (User.IsInRole("Administrator"))
{
    <a class="btn btn-primary" asp-controller="Dishes" asp-action="Create" type="button">Inserisci Nuovo Piatto</a>
}
<table class="table table-hover table-bordered table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Categoria</th>
            <th>Descrizione</th>
            <th>Prezzo</th>
            @if (User.IsInRole("Administrator"))
            {
                <th></th>
            } 
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.KindOfDish</td>
                <td>@item.Description</td>
                <td>@item.Price</td>
                @if (User.IsInRole("Administrator"))
                {
                    <td>
                        <a asp-controller="Dishes" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Elimina</a>
                        <a asp-controller="Dishes" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Modifica</a>
                    </td>
                }
            </tr>
        }
    </tbody>

    
    
</table>

